.header {
	width: 100%;
	padding: 15px 0 15px 0;
	background: #9dbd00;
	color: white;
	overflow: hidden;
	
}

.title	{
	float: left;
	font-size: 24px;
	padding: 0 0 0 0;
	font-family: 'forte regular';
}

.nav1 {
	width: 100%;
	padding: 13px 0 13px 0;
	background: white;
}

.home {
	font-family: 'arial';
	font-size: 14px;
	color: #999;
}

.nav2 {
	width: 100%;
	padding: 13px 0 13px 0;
	background: #f7f7f7;
}

.place {
	font-size: 16px;
	color: #666;
	padding: 0 0 0 0;
}
.menu-list {
	float: right;
	padding: 0 20px 0 0;
}

.menu {
	float: right;
	display: inline;
	font-size: 14px;
	padding-right: 40px;
}

.maincontent {
	width: 100%;
	background: white;
}
.list1 {
	font-size: 16px;
	font: bold;
	margin-top: 20px;
}
.list2{
	font-size: 16px;
	font: bold;
	margin-bottom: 10px;
}

.list {
	font-size: 16px;
	font: bold;
	margin-bottom: 10px;
}

.input-group {
	margin-top: 30px;
	margin-bottom: 30px;
}
 /* Customize the label (the container) */
.container1 {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 9px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #a7ca00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
  left: 6px;
  top: 2px;
  width: 8px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 